.footer{
  text-align: center;
  padding: 20px 0px 20px 0px;
  //background-image: url('footer-bk.png');
  background-size: cover;

  p {
    margin: auto;
    color: orange;
    font-weight: bold;
    font-size: 14px;
  }
}
