
/* Flex Outline */

.flex-search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7px;

  border-radius: 5px 0px 0px 5px;

  background-color: rgb(228, 228, 228);

  cursor: pointer;
}

.searchInput {
  flex: 1;
  min-width: 150px;

  border-radius: 0px 5px 5px 0px;
}

.location-input {
  font-size: 1.2em;
  padding: 5px;
}

.inline {
  display: inline;
  padding: 0px 5px;
}