


// container for both the Sidebar and EventList
.listAndSidebar {
  padding: 25px 0px 25px 0px;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 1rem;

  grid-template-areas: 
    'sidebar main';
}

// represents only the Sidebar
.sortingSidebar {
  height: fit-content;

  padding: 5px;
  border-radius: 5px;

  grid-area: sidebar;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .sidebarElem {
    padding: 5px 0px 5px 0px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    &.selected {
      background-color: lighten(lightgreen, 10%);
    }
  }
}

// contains searchContainer + list of UserInfoPanels
.mainSection {
  grid-area: main;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  & > * {
    padding: 5px 0px;
  }
}



.searchContainer {
  display: flex;
  position: relative;
  width: 100%;

  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.searchInput {
  width: calc(100% - 4rem);
  padding: 1rem;

  border: none;
  
  position: relative;
  left: 3rem;

  .searchInput > :focus {
    outline: none;
  }
}

.leftIcon {
  content: "";
  position: absolute;

  left: 3rem;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  color: rgb(133, 133, 133);

  cursor: pointer;
}




/*
.fullWidthBackground {
  background-color: lighten(lightgray, 10%); 
}

// container for both the Sidebar and EventList
.listAndSidebar {
  padding: 5px 0px 5px 0px;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 10px;
}

// represents only the Sidebar
.sortingSidebar {
  grid-column: 1;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .sidebarElem {
    padding: 3px 0px 3px 0px;
    cursor: pointer;

    &.selected {
      background-color: lighten(lightgreen, 10%);
    }
  }
}

// represents only the EventList 
.memberList {
  grid-column: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}*/