

.flex-group-element {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*background: url('teal-background.jpeg') no-repeat center;*/
}
