
.chatContainer {
  pointer-events: none;

  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1600px;

  position: fixed;
  bottom: 0px;

  display: flex;
  flex-direction: row-reverse;


  & > * {
    padding: 1rem 2rem;
  }
}